.e-button {
  padding: 10px;
  background-color: $maincolor-04-light;
  border: 1px solid $maincolor-04;
  color: $white;
}

.e-button--blue {
  background-color: $maincolor-01;
  border-color: $maincolor-01;
}
